h1 {
    text-align: center;
    color: rgb(0, 53, 7);
    font-weight: bold;
    padding-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }


.sadpug {
    display: block;
    margin: 0 auto;
}

img {
    width: 40%;
}

.pancakes {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 4%;
    border: 2px solid black;
    
}

.credits {
    text-align: center;
}

.btn-primary {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border-color: darkgreen;
    background-color: rgb(151, 53, 75); 

}



nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #bb3349cb; /* Red color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    display:inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition: 0.3s ease;
}

nav a:hover {
    color: #adedb5; 
    text-decoration: none;
}


body {
    background-color: rgb(90, 116, 91);
    text-align: center;
  }
  
  main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(223, 208, 197);
    
  }
  

  footer {
    
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
  }
  

  .title {
    color: rgb(16, 13, 105);
  }

  .indextitle {
    padding-bottom: 5%;
  }

  h3 {
    padding-top: 2%;;
  }

 