h1 {
    text-align: center;
    color: rgb(31, 94, 14);
  }


.sadpug {
    display: block;
    margin: 0 auto;
}

img {
    width: 40%;
}

.pancakes {
    width: 26%;
    display: block;
    margin: 0 auto;
    margin-top: 4%;
}

.credits {
    text-align: center;
}

.btn-primary {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border-color: darkgreen;
    background-color: rgb(177, 230, 167);     
}